<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <!-- <a href="/home">Back</a>| 
	<a href="/logout">Logout</a> -->
    <br>
    <a href="/employee/AddProduct">Add Product</a> <br> 
    <a href="/employee/AllProductList">All Product List</a>
</body>
</html>