<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Employee</title>
</head>
<body>
    <form method="post">
        <h3>Delete Employee</h3>
        <table>
            <tr style="padding: 10px;">
                <td style="padding: 10px;">User Name</td>
                <td style="padding: 10px;"><%= user.username %></td>
            </tr>
        </table>
        <h3>Are you sure you want to delete user? This can't be undone!</h3>
        <input type="hidden" name="id" value="<%= user.id %>">
        <input type="submit" name="submit" value="Yes">
        
    </form>
    <button onclick="window.location.href='/admin/AllEmployeeList';">No</button>
    <!-- <a href="/admin/AllEmployeeList">No</a> -->
</body>
</html>